In [11]:
import pandas as pd

cardata={'Mercedes':[2,4,0,4,0,3], 'Ford': [3,0,0,1,6,12], 'Tata':[9,3,4,1,0,0],
'Renault':[12,1,0,0,3,1]}

carsales=pd.DataFrame(cardata)

print(carsales)

   Mercedes  Ford  Tata  Renault
0         2     3     9       12
1         4     0     3        1
2         0     0     4        0
3         4     1     1        0
4         0     6     0        3
5         3    12     0        1

In [ ]:
carsales.index.rename('Sales place')
print(carsales)

In [13]:
carsales.rename(index={0:'One',1:'Two',2:'Three',3:'Four',4:'Five',5:'Six'}, inplace=True)
print(carsales)

       Mercedes  Ford  Tata  Renault
One           2     3     9       12
Two           4     0     3        1
Three         0     0     4        0
Four          4     1     1        0
Five          0     6     0        3
Six           3    12     0        1

In [ ]:
print(carsales.loc['Two'])

In [ ]:
# adding a new row to existing 'carsales' df
newsalesplace=pd.DataFrame({
    'Mercedes':3,
    'Ford':5,
    'Tata':1,
    'Renault':1
},index=['Seven'])

carsales=pd.concat([carsales,newsalesplace])

print(carsales)

In [ ]:
# Adding new columns to the df using python list

Volvo=[1,2,0,0,0,11,12]
Tesla=[2,6,2,3,0,4,7]
carsales['Volvo']=Volvo
print(carsales)

In [ ]:
# Insert a new column and place it in a particular position
carsales.insert(loc=0, column='Tesla', value=Tesla)
print(carsales)

In [ ]:
# create a dataframe from a python list
Ford=[3,0,0,1,6,12,5]
data=[Volvo,Tesla,Ford]

print(data)

carsales2=pd.DataFrame(list(zip(Volvo,Tesla,Ford)), columns=['Volvo','Tesla','Ford'])

print(carsales2)

In [ ]:
carsales.to_csv('carsales.csv')
carsales.to_excel('carsales.xlsx')

#Not working

In [ ]:
del(carsales2) # to delete a particular dataframe
print(carsales2)

NameError: name 'carsales2' is not defined